
body {
    background-color: beige;
}
/*Element*/
li{
    border: 2px solid red;
}
/*id*/
#new {
    background-color: rgb(223, 219, 219);
    color: blue;
}
/*Class*/
.completed{
    text-decoration: line-through;
}


ul {color: blueviolet;}